# PostgreSQL Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=rag_metadata
DATABASE_URL=postgresql+psycopg2://myuser:mypassword@db:5432/rag_metadata

# Redis Configuration
REDIS_URL=redis://redis:6379/0

# ChromaDB Configuration
CHROMA_HOST=chroma
CHROMA_PORT=8000
CHROMA_COLLECTION_NAME=web_content

# Groq LLM Configuration
GROQ_API_KEY="your_api_key_here"

# Embedding Model Configuration
EMBEDDING_MODEL_NAME=your_embedding_model_name
